*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* .container-hex{
    background: #0c2c3a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: fit-content;
    position: relative;
}

#hex-grid{
    height: 100vh;
    background: black ;
}

#hex-grid .grid{
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/grid.svg) repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 500px;
}

#hex-grid .light{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #03141c;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: rgb(255, 255, 255);
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: blue;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(25, 25, 158);
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.3s ease
}

.btn:hover{
    background-color: blue;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px blue;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    justify-items: right;
}

header .content h4{
    margin-bottom:1rem;
    color: aliceblue;
    font-size: 1rem;    
    font-weight: 600;
}

header .content h1{
    color: azure;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4 rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px aliceblue;
}

header .content p{
    margin-bottom: 2rem;
    color: rgb(241, 234, 226);
}

header .image{
    position: relative;
    max-width: 300px;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 52rem;
    font-weight: 400;
    line-height: 20rem;
    color: blue;
    opacity: .2;
    z-index: -100;
}


/* header .image img{
    max-width: 300px;
    margin: auto;
} */

section .header{
    margin-bottom: 1rem;
    color: aliceblue;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}

.features .card{
    background-color: #0c2c3a;
    padding: 1rem;
    border: 5px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: rgb(41, 89, 131);
    border-color: #78a3b8;
}

/* .features .card span{
    display: inline-block;
    background-color: blue;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75px;
    color: aliceblue;
    border-radius: 5px;
} */

.features .card h4{
    margin-bottom: 0.5rem;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: azure;
    margin-bottom: 1rem;
}

.features .card a{
    color: azure;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #78a3b8;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: aliceblue;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #0c2c3a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: #03141c;
    border-color: azure;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: aliceblue;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed aliceblue;
}

.pricing .card p{
    color: aliceblue;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #78a3b8;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: aliceblue;
    background-color: transparent;
    border: 2px solid azure;
}

.pricing .card button:hover{
    background-color: blue;
    border-color: blue;
}

/* .container .column .logo{
    max-width: 1000px;
} */

footer {
    position: relative;
    background-color: #03141c;
    /* color: aliceblue; */
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px blue;
    z-index: -100;
}

footer .column p{
    flex: 1;
    color: aliceblue;
    margin-bottom: 2rem;
    /* text-align: center; Center-align the content in each column */
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: azure;
    border: 1px solid aliceblue;
    padding: 5px 10px;
    font-size: 1.25rem;
    /* border-radius: 100%; */
    transition: all 0.3s ease;
    /* text-decoration: none; */
}

footer .column .socials a:hover{
    display: flex;
    color: aliceblue;
    background-color: blue;
    border-color: aliceblue;
    gap: 1rem;
}

footer .column h4 {
    color: aliceblue;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: aliceblue;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: blue;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: aliceblue;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 800px){
    /* .nav-links{
        display: none;
        grid-template-columns: repeat(2,1fr);
    } */
    header{
        grid-template-columns: repeat(1,1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2,1fr);
    }
    .pricing{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media(width < 600px){
    .nav-links{
        display: none;
    }
    header .image::before{
        display: none;
    }
    .features{
        grid-template-columns: repeat(1,1fr);
    }
    .pricing{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        grid-template-columns: 1fr 150px;
    }
}